@import 'sdb-dd-styles';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:host {
  display: inline-flex;
}

button {
  @extend %reset-button;
}

.primary-button {
  @extend %flex;
  @extend %flex-x-center;
  @extend %flex-y-center;
  @extend %border-r-full;
  @extend %font-weight-bold;
  @extend %font-size-default;

  font-family: $font-family-default;

  &--color {
    &-red {
      @extend %bg-red;
      @extend %color-white;

      &:hover {
        @extend %bg-fluid-light;

        &:active {
          @extend %bg-yellow;
        }
      }
    }
  }

  &--size {
    &-mobile,
    &-desktop {
      @extend %padding-y-1;
      @extend %padding-x-2;
    }
  }

  &--disabled,
  [disabled] {
    pointer-events: none;
    box-shadow: inset 0 0 0 1px $disabled-grey;

    @extend %bg-light-grey;
    @extend %color-disabled-grey;
  }

  &--rounded {
    padding: 0 !important;
  }

  &--loading {
    pointer-events: none;
  }

  &__loader {
    @extend %margin-right-1;

    .primary-button--rounded & {
      @extend %margin-0;
    }

    .primary-button--size-mobile.primary-button--rounded & {
      padding: 10px;
    }

    .primary-button--size-desktop.primary-button--rounded & {
      padding: 15px;
    }
  }

  &__label {
    @extend %font-size-default;
    @extend %line-height-2;

    .primary-button--size-desktop & {
      line-height: line-height($font-size-default + 10);
    }
  }
}
